.form {
  margin: 0 auto;
  max-width: 808px;
  display: flex;
  flex-direction: column;
}
.form__title {
  font-family: 'Circular Std';
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  padding-bottom: 32px;
}
.application__forms {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-width: 808px;
  height: 818px;
  background-color: #fff;
  border-radius: 16px;
  padding: 10% 10%;
}
.application__form {
  display: flex;
  flex-direction: column;
}
.form__text {
  color: #000;
  padding-bottom: 2%;
}
.create__input {
  padding: 12px;
  max-width: 600px;
}
