.switch {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 20px;
  background-color: #6966ff;
  border-radius: 10px;
}
.switch__input {
  width: 0;
  height: 0;
  opacity: 0;
}

.switch__slider::before {
  content: '';
  position: absolute;
  cursor: pointer;
  left: -13px;
  bottom: -3px;
  height: 26px;
  width: 26px;
  background-color: rgb(255, 255, 255);
  border-radius: 13px;
  transition: 0.4s;
}
.switch__input:checked + .switch__slider {
  background-color: #6966ff;
}
.switch__input:checked + .switch__slider::before {
  transform: translateX(36px);
}
