.discovers__title,
.funded__title {
  text-align: center;
  font-family: 'Circular Std';
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 72px;
  margin: 0 auto;
  padding: 80px 0 24px;
}
.discovers__text {
  max-width: 808px;
  text-align: center;
  font-family: 'Circular Std';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin: 0 auto;
}
.discovers__filter {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  max-width: 395px;
  padding: 40px 0 80px;
  margin: 0 auto;
}
.funded__filter {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  padding: 40px 80px 24px;
  max-width: 989px;
}
.discovers__btn,
.funded__btn {
  display: flex;
  padding: 12px 16px;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
  background-color: #1c1c28;
}
.discovers__btn:hover,
.funded__btn:hover {
  background: #393953;
}

.discovers__cards {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-bottom: 160px;
}
.funded__cards {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(392px, 1fr));
  grid-template-rows: repeat(3, 1fr);
  gap: 24px;
  padding: 0 76px 160px 76px;
}
.funded__switch {
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: center;
  padding: 24px 76px 104px 76px;
}
