.discovers__title,
.funded__title {
  text-align: center;
  font-family: 'Circular Std';
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 72px;
  margin: 0 auto;
  padding: 198px 0 24px;
}
.discovers__text {
  max-width: 808px;
  text-align: center;
  font-family: 'Circular Std';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin: 0 auto;
}
.discovers__filter {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  max-width: 395px;
  padding: 40px 0 80px;
  margin: 0 auto;
}
.funded__filter {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  padding: 40px 80px 24px;
  max-width: 989px;
}
.discovers__btn,
.funded__btn {
  display: flex;
  padding: 12px 16px;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
  background-color: #1c1c28;
}
.discovers__btn:hover,
.funded__btn:hover,
.blog__btn:hover {
  background: #393953;
}

.discovers__cards {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-bottom: 160px;
}
.funded__cards {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(392px, 1fr));
  gap: 24px;
  padding: 0 76px 160px 76px;
}
.funded__switch {
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: center;
  padding: 24px 76px 104px 76px;
}
.filter1 {
  padding: 40px 0 80px;
}
.expenses__cards {
  padding-bottom: 0;
}
.blog__title {
  text-align: center;
  font-family: 'Circular Std';
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 72px;
  padding-top: 198px;
}
.blog__filter {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  padding: 80px 60px 80px;
  max-width: 554px;
  margin: 0 auto;
}
.blog__btn {
  display: flex;
  padding: 12px 14px;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
  background-color: #1c1c28;
}
.blog__loading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 80px 0 0;
}
.blog__cards {
  max-width: 808px;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(392px, 1fr));
  gap: 24px;
  margin: 0 auto;
}
.application__title {
  text-align: center;
  font-family: 'Circular Std';
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 72px;
  padding-top: 198px;
}
.application__text {
  text-align: center;
  font-family: 'Circular Std';
  font-size: 18px;
  font-style: normal;
  font-weight: 450;
  line-height: 24px;
  max-width: 490px;
  margin: 0 auto;
  padding: 24px 0 40px;
}
.questions__title {
  border-top: 1px solid #393953;
  color: #fff;
  font-family: 'Circular Std';
  font-size: 18px;
  font-style: normal;
  font-weight: 450;
  line-height: 24px;
  background-color: #1c1c28;
  width: 808px;
  text-align: start;
  padding: 24px 0;
}
.title1 {
  border-bottom: 1px solid #393953;
}
.questions__text {
  background-color: #1c1c28;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.5rem;
  color: #fff;
  width: 808px;
  text-align: justify;
}
.questions__accordion {
  margin: 0 auto;
  text-align: center;
}
.application__denotation {
  text-align: start;
  padding: 120px 0 40px;
}
.selection__denotation {
  padding: 80px 0 40px;
}
@media (max-width: 480px) {
  .button1 {
    display: none;
  }
  .funded__cards {
    padding: 0 0 80px;
  }
}
