.featured__title {
  text-align: center;
  font-family: Circular Std;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  margin: 0 auto;
}
.featured__text {
  color: #c8c7d8;
  text-align: center;
  font-family: Circular Std;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin: 0 auto;
  max-width: 600px;
  padding: 16px 0 24px;
}
.featured__cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.featured__card {
  position: relative;
  display: flex;
  max-width: 392px;
  height: 560px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 16px;
  border: 0.1px solid #a59eba;
  gap: 24px;
  background: #393953;
  padding: 24px;
  margin-bottom: 80px;
}
.card__text {
  color: #a59eba;
  font-family: Space Mono;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.card__info {
  font-family: Circular Std;
  font-size: 16px;
  font-style: normal;
  font-weight: 450;
  line-height: 24px;
}
.card__empty {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 16px;
  width: 99%;
  height: 178px;
  background-color: #1c1c28;
}
.featured__wrapper {
  padding-top: 180px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
.featured__btn {
  background-color: #1c1c28;
  color: #6966ff;
  margin-bottom: 80px;
  border: 0;
}
.card__avatar1 {
  background-image: url(./img/avatar1.jpg);
  background-repeat: no-repeat;
  width: 90px;
  height: 40px;
  margin-top: 123px;
}
.card__avatar2 {
  background-image: url(./img/avatar2.jpg);
  background-repeat: no-repeat;
  width: 90px;
  height: 40px;
  margin-top: 62px;
}
.card__avatar3 {
  background-image: url(./img/avatar3.jpg);
  background-repeat: no-repeat;
  width: 90px;
  height: 40px;
  margin-top: 140px;
}
